{% extends "base.html"%}

{% block content %}
<h1>Peticiones</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, neque? Repellendus aperiam magnam fugiat veniam, numquam tenetur officiis, nesciunt veritatis, amet possimus repellat. Possimus sed sit ratione perferendis laboriosam, sapiente harum qui quam est vel. Deserunt vel non obcaecati maxime laboriosam cumque minima alias unde exercitationem facere et, aliquam sit enim eveniet iure at quas voluptates ab? Porro dolorem velit repudiandae odio unde tempore, praesentium blanditiis aspernatur placeat distinctio assumenda autem omnis saepe voluptatibus similique nihil, id iste deleniti ducimus quae. Nemo nisi, fugiat soluta at distinctio quam quod magni, dolore inventore beatae blanditiis totam eligendi placeat vero suscipit laborum?</p>

{% endblock %}
